<ion-card-header>
  <ion-card-title text-center class="title" text>Comment dit-on?...</ion-card-title>
</ion-card-header>

<!-- Airplane Card -->
<ion-card text-center class="backgroundCard">
  <ion-row>
    <ion-col text-center>
      <ion-img class="img-card" src="../../../../assets/imgs/topics/transport/airplane.png"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <!-- CORRECT -->
      <ion-button (click)="checkAnswer(0)" expand="block">Avion</ion-button>
    </ion-col>
  </ion-row>
</ion-card>

<!-- Boat Card -->
<ion-card text-center class="backgroundCard">
  <ion-row>
    <ion-col text-center>
      <ion-img class="img-card" src="../../../../assets/imgs/topics/transport/boat.png"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <!-- CORRECT -->
      <ion-button (click)="checkAnswer(1)" color="secondary" expand="block">Bateau</ion-button>
    </ion-col>
  </ion-row>
</ion-card>

<!-- Bycicle Card -->
<ion-card text-center class="backgroundCard">
  <ion-row>
    <ion-col text-center>
      <ion-img class="img-card" src="../../../../assets/imgs/topics/transport/bycicle.png"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <!-- CORRECT -->
      <ion-button (click)="checkAnswer(2)" color="tertiary" expand="block">Vélo</ion-button>
    </ion-col>
  </ion-row>
</ion-card>

<!-- Car Card -->
<ion-card text-center class="backgroundCard">
  <ion-row>
    <ion-col text-center>
      <ion-img class="img-card" src="../../../../assets/imgs/topics/transport/car.png"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <!-- CORRECT -->
      <ion-button (click)="checkAnswer(3)" color="secondary" expand="block">Chariot</ion-button>
    </ion-col>
  </ion-row>
</ion-card>

<!-- Motorcycle Card -->
<ion-card text-center class="backgroundCard">
  <ion-row>
    <ion-col text-center>
      <ion-img class="img-card" src="../../../../assets/imgs/topics/transport/motorcycle.png"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <!-- CORRECT -->
      <ion-button (click)="checkAnswer(4)" color="success" expand="block">Moto</ion-button>
    </ion-col>
  </ion-row>
</ion-card>