.font-color-title-card {
    color: black;
}

.background-title-card {
    background: black;
    color:  white;
}

.bodyText {
    font-size: 20px;
}

.topicText {
    font-size: 30px;

}

.cardText {
    font-size: 20px;
    font-weight: bold;
    color: black
}

  .foodCard {
    background-image: url("../../../assets/imgs/fruit_banner.jpg");
  }

  .transportCard {
    background-image: url("../../../assets/imgs/cars_banner.jpg");

  }

  .animalCard {
    background-image: url("../../../assets/imgs/animals_banner.jpg");

  }

  .verbCard {
    background-image: url("../../../assets/imgs/verb_banner.jpg");

  }