<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="learn">
      <ion-icon name="book"></ion-icon>
      <ion-label>Learn</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="topics">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>Topic</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="results">
      <ion-icon name="briefcase"></ion-icon>
      <ion-label>Results</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="how-to-use">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>How To Use</ion-label>
      </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>