<ion-header>
  <ion-toolbar>
    <ion-title>How to Use this App?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <app-presentation01></app-presentation01>
    </ion-slide>
    <ion-slide>
      <app-presentation02></app-presentation02>
    </ion-slide>
    <ion-slide>
      <app-presentation03></app-presentation03>
    </ion-slide>
    <ion-slide>
      <app-presentation04></app-presentation04>
    </ion-slide>
  </ion-slides>
</ion-content>