<ion-card-header>
  <ion-card-title text-center class="title" text>Comment dit-on?...</ion-card-title>
</ion-card-header>

<!-- Fight Card -->
<ion-card text-center class="backgroundCard">
  <ion-row>
    <ion-col text-center>
      <ion-img class="img-card" src="../../../../assets/imgs/topics/verbs/fight.png"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <!-- CORRECT -->
      <ion-button (click)="checkAnswer(0)" expand="block">Se battre </ion-button>
    </ion-col>
  </ion-row>
</ion-card>

<!-- Jump Card -->
<ion-card text-center class="backgroundCard">
  <ion-row>
    <ion-col text-center>
      <ion-img class="img-card" src="../../../../assets/imgs/topics/verbs/jump.png"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <!-- CORRECT -->
      <ion-button (click)="checkAnswer(1)" color="secondary" expand="block">Passer</ion-button>
    </ion-col>
  </ion-row>
</ion-card>

<!-- Run Card -->
<ion-card text-center class="backgroundCard">
  <ion-row>
    <ion-col text-center>
      <ion-img class="img-card" src="../../../../assets/imgs/topics/verbs/run.png"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <!-- CORRECT -->
      <ion-button (click)="checkAnswer(2)" color="tertiary" expand="block">Courir</ion-button>
    </ion-col>
  </ion-row>
</ion-card>

<!-- Speak Card -->
<ion-card text-center class="backgroundCard">
  <ion-row>
    <ion-col text-center>
      <ion-img class="img-card" src="../../../../assets/imgs/topics/verbs/speak.png"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <!-- CORRECT -->
      <ion-button (click)="checkAnswer(3)" color="secondary" expand="block">Parler</ion-button>
    </ion-col>
  </ion-row>
</ion-card>

<!-- Swim Card -->
<ion-card text-center class="backgroundCard">
  <ion-row>
    <ion-col text-center>
      <ion-img class="img-card" src="../../../../assets/imgs/topics/verbs/swim.png"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <!-- CORRECT -->
      <ion-button (click)="checkAnswer(4)" color="success" expand="block">Nager</ion-button>
    </ion-col>
  </ion-row>
</ion-card>