<ion-card class="title-card">
  <ion-card-header>
    <ion-card-title text-center class="title" text>Comment dit-on?...</ion-card-title>
  </ion-card-header>

  <ion-card-content text-center>
      Select the correct Word
  </ion-card-content>
</ion-card>


<!-- Apple Card -->
<ion-card text-center class="backgroundCard" [disabled] = "disabledQuestion[0]">
  <ion-row>
    <ion-col text-center>
      <ion-img class="img-card" src="../../../../assets/imgs/topics/food/apple.png"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <!-- CORRECT -->
      <ion-button (click)="checkAnswer(0,1)" expand="block">Pomme</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="checkAnswer(0,2)" color="secondary" expand="block">Mure</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button (click)="checkAnswer(0,3)" color="success" expand="block">Poire</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="checkAnswer(0,4)" color="tertiary" expand="block">Abricot</ion-button>
    </ion-col>
  </ion-row>
</ion-card>

<!-- Cherries Card -->
<ion-card text-center class="backgroundCard" [disabled] = "disabledQuestion[1]">
    <ion-row>
      <ion-col text-center>
        <ion-img class="img-card" src="../../../../assets/imgs/topics/food/cherries.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="checkAnswer(1,1)" expand="block">Ananas</ion-button>
      </ion-col>
      <ion-col>
        <!-- CORRECT -->
        <ion-button (click)="checkAnswer(1,2)" color="secondary" expand="block">Cerise</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="checkAnswer(1,3)" color="success" expand="block">Poire</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="checkAnswer(1,4)" color="tertiary" expand="block">Raisin</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

  <!-- Orange Card -->
<ion-card text-center class="backgroundCard" [disabled] = "disabledQuestion[2]">
    <ion-row>
      <ion-col text-center>
        <ion-img class="img-card" src="../../../../assets/imgs/topics/food/orange.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="checkAnswer(2,1)" expand="block">Citron</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="checkAnswer(2,2)" color="secondary" expand="block">Coco</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="checkAnswer(2,3)" color="success" expand="block">Prune</ion-button>
      </ion-col>
      <ion-col>
        <!-- CORRECT -->
        <ion-button (click)="checkAnswer(2,4)" color="tertiary" expand="block">Orange</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

  <!-- Grapes Card -->
<ion-card text-center class="backgroundCard" [disabled] = "disabledQuestion[3]">
    <ion-row>
      <ion-col text-center>
        <ion-img class="img-card" src="../../../../assets/imgs/topics/food/grapes.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="checkAnswer(3,1)" expand="block">Pomélo</ion-button>
      </ion-col>
      <ion-col>
        <!-- CORRECT -->
        <ion-button (click)="checkAnswer(3,2)" color="secondary" expand="block">Raisin</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="checkAnswer(3,3)" color="success" expand="block">Poire</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="checkAnswer(3,4)" color="tertiary" expand="block">Pêche</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

  <!-- Watermelon Card -->
<ion-card text-center class="backgroundCard" [disabled] = "disabledQuestion[4]">
    <ion-row>
      <ion-col text-center>
        <ion-img class="img-card" src="../../../../assets/imgs/topics/food/watermelon.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="checkAnswer(4,1)" expand="block">Banane</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="checkAnswer(4,2)" color="secondary" expand="block">Cacahuète</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <!-- CORRECT -->
        <ion-button (click)="checkAnswer(4,3)" color="success" expand="block">Melon d'eau</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="checkAnswer(4,4)" color="tertiary" expand="block">Melon</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>