<ion-card>

    <ion-card-content>
        <h1>In Result Page, <strong> You will se a Tree that displays the Topics that has been approved</strong> and the ones that are missing to complete </h1>
        <br>
        <br>
        <h1 class="start-learning slide" routerLink="/tabs/topics"> Start Learning! </h1>
        
        <!-- <img class="img-card" style="width:100px;height:100px;" src="../../../assets/imgs/instructions-selection.PNG"> -->
     
        <!-- <h1 router class="slide">Slide Left -></h1> -->
        <br>
      </ion-card-content>

  <ion-card-header class="ion-text-center">
    <ion-card-title>Results</ion-card-title>
    <br>
    <img class="img-card" style="width:1200px;height:500px;" src="../../../assets/imgs/instructions-results.PNG">
  </ion-card-header>
  <br>

 
</ion-card>
