<ion-card>
  <ion-card-header class="ion-text-center">
    <ion-card-title>Results</ion-card-title>
    <br>
    <img class="img-card" style="width:1200px;height:500px;" src="../../../assets/imgs/instructions-results.PNG">
  </ion-card-header>
  <br>

  <ion-card-content>
    In Result Page, <strong> You will se a Tree that displays the Topics that has been approved</strong> and the ones that are missing to complete
    <br>
    <br>
    <h2 class="start-learning" routerLink="/tabs/topics"> Start Learning! </h2>
    
    <!-- <img class="img-card" style="width:100px;height:100px;" src="../../../assets/imgs/instructions-selection.PNG"> -->
    <ion-icon class="icon-size" name="play"></ion-icon>
    <br>
  </ion-card-content>
</ion-card>
