<ion-card>

  <br>

  <ion-card-content>
    <h1>You will <strong> select between 4 different topics </strong>, Food Transport, Animals and Verbs</h1>
 
    <!-- <img class="img-card" style="width:100px;height:100px;" src="../../../assets/imgs/instructions-selection.PNG"> -->
 
    <br>
  </ion-card-content>

  <ion-card-header class="ion-text-center">
      <h1 router class="slide">Slide Left -></h1>
    <ion-card-title>Topics</ion-card-title>
    <br>
    <img class="img-card" style="width:1000px;height:500px;" src="../../../assets/imgs/instructions-topics.PNG">
  </ion-card-header>
</ion-card>