<ion-card>
  
  <br>

  <ion-card-content>
    <h1>In each of them you will have to select the correct vocabulary that represents the image
    that displays on screen, <strong>there will be displayed a little message at top of the screen  that will let you know if you were correct
    or incorrect</strong></h1> 
    <br>
    <br>
    
    <!-- <img class="img-card" style="width:100px;height:100px;" src="../../../assets/imgs/instructions-selection.PNG"> -->
    <h1 class="slide" router>Slide Left -></h1>
    <br>
  </ion-card-content>


  <ion-card-header class="ion-text-center">
      <ion-card-title>Questions</ion-card-title>
      <br>
      <img class="img-card" style="width:1000px;height:500px;" src="../../../assets/imgs/instructions-selection.PNG">
    </ion-card-header>
</ion-card>
