<ion-card>
  <ion-card-header class="ion-text-center">
    <ion-card-title>Questions</ion-card-title>
    <br>
    <img class="img-card" style="width:1000px;height:500px;" src="../../../assets/imgs/instructions-selection.PNG">
  </ion-card-header>
  <br>

  <ion-card-content>
    In each of them you will have to select the correct vocabulary that represents the image
    that displays on screen, <strong>there will be displayed a little message at top of the screen </strong> that will let you know if you were correct
    or incorrect
    <br>
    <br>
    
    <!-- <img class="img-card" style="width:100px;height:100px;" src="../../../assets/imgs/instructions-selection.PNG"> -->
    <ion-icon class="icon-size" name="play"></ion-icon>
    <br>
  </ion-card-content>
</ion-card>
