<ion-card>
  <ion-card-header class="ion-text-center">
    <ion-card-title>How to Use this App</ion-card-title>
    <br>
    <img class="img-card" style="width:50px;height:50px;" src="../../../assets/imgs/question-sign.png"> <br>
    <img class="img-card" style="width:100px;height:100px;" src="../../../assets/imgs/howToUse.png">
  </ion-card-header>
  <br>

  <ion-card-content>
    <h1>In this simple App <strong> you will Learn </strong>simple  <strong> vocabulary in French.</strong></h1>
    <br>
    <br>
    <h1 class="slide" router>Slide Left -></h1>
    <br>
  </ion-card-content>
</ion-card>

