<ion-card>
  <ion-card-header class="ion-text-center">
    <ion-card-title>How to Use this App</ion-card-title>
    <br>
    <img class="img-card" style="width:50px;height:50px;" src="../../../assets/imgs/question-sign.png"> <br>
    <img class="img-card" style="width:100px;height:100px;" src="../../../assets/imgs/howToUse.png">
  </ion-card-header>
  <br>

  <ion-card-content>
    In this simple App you will Learn simple vocabulary in French.
    <br>
    <br>
    <h1 router>Slide Right -></h1>
    <br>
  </ion-card-content>
</ion-card>

