<ion-card class="title-card">
  <ion-card-header>
    <ion-card-title text-center class="title" text>Comment dit-on?...</ion-card-title>
  </ion-card-header>

  <ion-card-content text-center>
    Select the correct Word
  </ion-card-content>
</ion-card>


<!-- Fight Card -->
<ion-card text-center class="backgroundCard" [disabled]="disabledQuestion[0]">
  <ion-row>
    <ion-col text-center>
      <ion-img class="img-card" src="../../../../assets/imgs/topics/verbs/fight.png"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <!-- CORRECT -->
      <ion-button (click)="checkAnswer(0,1)" expand="block">Se battre </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="checkAnswer(0,2)" color="secondary" expand="block">Avoir</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button (click)="checkAnswer(0,3)" color="success" expand="block">Pouvoir</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="checkAnswer(0,4)" color="tertiary" expand="block">Permettre</ion-button>
    </ion-col>
  </ion-row>
</ion-card>

<!-- Jump Card -->
<ion-card text-center class="backgroundCard" [disabled]="disabledQuestion[1]">
  <ion-row>
    <ion-col text-center>
      <ion-img class="img-card" src="../../../../assets/imgs/topics/verbs/jump.png"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button (click)="checkAnswer(1,1)" expand="block">Envoyer</ion-button>
    </ion-col>
    <ion-col>
      <!-- CORRECT -->
      <ion-button (click)="checkAnswer(1,2)" color="secondary" expand="block">Passer</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button (click)="checkAnswer(1,3)" color="success" expand="block">Attendre</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="checkAnswer(1,4)" color="tertiary" expand="block">Appeller</ion-button>
    </ion-col>
  </ion-row>
</ion-card>

<!-- Run Card -->
<ion-card text-center class="backgroundCard" [disabled]="disabledQuestion[2]">
  <ion-row>
    <ion-col text-center>
      <ion-img class="img-card" src="../../../../assets/imgs/topics/verbs/run.png"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button (click)="checkAnswer(2,1)" expand="block">Souhaiter</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="checkAnswer(2,2)" color="secondary" expand="block">Comprendre</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button (click)="checkAnswer(2,3)" color="success" expand="block">Finir</ion-button>
    </ion-col>
    <ion-col>
      <!-- CORRECT -->
      <ion-button (click)="checkAnswer(2,4)" color="tertiary" expand="block">Courir</ion-button>
    </ion-col>
  </ion-row>
</ion-card>

<!-- Speak Card -->
<ion-card text-center class="backgroundCard" [disabled]="disabledQuestion[3]">
  <ion-row>
    <ion-col text-center>
      <ion-img class="img-card" src="../../../../assets/imgs/topics/verbs/speak.png"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button (click)="checkAnswer(3,1)" expand="block">Lire</ion-button>
    </ion-col>
    <ion-col>
      <!-- CORRECT -->
      <ion-button (click)="checkAnswer(3,2)" color="secondary" expand="block">Parler</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button (click)="checkAnswer(3,3)" color="success" expand="block">Manger</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="checkAnswer(3,4)" color="tertiary" expand="block">Inclure</ion-button>
    </ion-col>
  </ion-row>
</ion-card>

<!-- Swim Card -->
<ion-card text-center class="backgroundCard" [disabled]="disabledQuestion[4]">
  <ion-row>
    <ion-col text-center>
      <ion-img class="img-card" src="../../../../assets/imgs/topics/verbs/swim.png"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button (click)="checkAnswer(4,1)" expand="block">Passer</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="checkAnswer(4,2)" color="secondary" expand="block">Mourir</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <!-- CORRECT -->
      <ion-button (click)="checkAnswer(4,3)" color="success" expand="block">Nager</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="checkAnswer(4,4)" color="tertiary" expand="block">Apercevoir</ion-button>
    </ion-col>
  </ion-row>
</ion-card>